{% template gauge_setup %}
{% endtemplate %}

{% template gauge %}
<div class="item item--emphasis-{{ gym.count | times: 1.0 | divided_by: gym.capacity | times: 3 | round }}">
    <div class="meta"></div>
    <div class="content w--full mr--4">
        <span class="title title--small">{{ gym.name }}</span>
        <span class="description">{{ gym.count }} climbers</span>
        <div class="progress-bar progress-bar--emphasis-2 progress-bar--small w--full mt--0.5">
            <div class="track">
                <div
                    class="fill"
                    style="width: {{ gym.count | times: 100 | divided_by: gym.capacity }}%"
                ></div>
            </div>
        </div>
    </div>
</div>
{% endtemplate %}

{% template title_bar %}
<div class="title_bar">
    <img class="image-dither w--6 h--6" src="https://movementgyms.com/favicon.ico">

    <span class="title">
        {{ trmnl.plugin_settings.instance_name }}
    </span>

    <span class="instance">
        As of {{ trmnl.system.timestamp_utc | plus: trmnl.user.utc_offset | date: "%-I:%M%p" | }}
    </span>
</div>
{% endtemplate %}
