<div class="view view--full">
  <div class="layout layout--col layout--left">
    <span class="title">
      {% if workouts.size < 0 %}
        No workouts ðŸ™
      {% else %}
        {{ workouts[0].title }} {{ workouts[0].start_time | date: "%s" | plus: trmnl.user.utc_offset | date: "%a, %B %d at %l:%M%p" }} 
      {% endif %}
    </span>

    <div class="list" data-list-limit="true" data-list-hidden-count="true" data-list-max-columns="2">
      {% for exercise in workouts[0].exercises %}
        <div class="item">
          <div class="meta">
            <span class="index">{{ forloop.index }}</span>
          </div>
          <div class="content">
            <span class="title">{{ exercise.title }}</span>

            {% assign normal_sets = exercise.sets | where: "type", "normal" %}
            {% if normal_sets.size > 0 %}
              <div class="flex gap--small">
                {% for set in normal_sets  %}
                  {% comment %} handle distance/duration {% endcomment %}
                  <span class="label label--inverted">
                    {{ set.weight_kg | times: 2.2046226218 | round }} x {{ set.reps }} @ {{ set.rpe }}
                  </span>
                {% endfor %}
              </div>
            {% endif %} 

            {% if exercise.notes %}
              <span class="description">{{ exercise.notes != "" }}</span>
            {% endif %} 
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="/images/plugins/trmnl--render.svg" />
    <span class="title">Hevy</span>
    <span class="instance">Instance</span>
  </div>
</div>
