<div class="view view--half_vertical">
  {% if workouts.size < 1 %}
    <div class="layout layout--col">
      <span class="title">
        No workouts found...
      </span>
      <span class="description">
        Get lifting!
      </span>
    </div>
  {% else %}
    <div class="layout layout--col layout--left">
      <header class="flex w--full" style="justify-content:space-between">
        <span class="title title--small">
          {{ workouts[0].title }}
        </span>
        <span class="description no-shrink">
          {{ workouts[0].start_time | date: "%s" | plus: trmnl.user.utc_offset | date: "%a, %B %d at %l:%M%p" }} 
        </span>
      </header>

      <div class="flex flex--center-y stretch">
        <div class="list" data-list-limit="true" data-list-hidden-count="true" data-list-max-columns="1">
          {% for exercise in workouts[0].exercises %}
            <div class="item">
              <div class="meta">
                <span class="index">{{ forloop.index }}</span>
              </div>
              <div class="content">
                <span class="title title--small">{{ exercise.title }}</span>

                {% assign normal_sets = exercise.sets | where: "type", "normal" %}
                {% if normal_sets.size > 0 %}
                  <div class="flex gap--small">
                    {% for set in normal_sets  %}
                      {% comment %} handle distance/duration {% endcomment %}
                      <span class="label label--small label--inverted">
                        {{ set.weight_kg | times: 2.2046226218 | round }} x {{ set.reps }} 
                        {% if set.rpe %}
                          @ {{ set.rpe }}
                        {% endif %}
                      </span>
                    {% endfor %}
                  </div>
                {% endif %} 

                {% if exercise.notes %}
                  <span class="description clamp--2">{{ exercise.notes }}</span>
                {% endif %} 
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="title_bar">
    <img class="image-dither" style="border-radius:100%;transform:scale(0.7)" src="https://www.hevyapp.com/favicon.ico" />
    <span class="title">Hevy</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
